
body {
    background: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-row-gap: 5px;
    margin: 0px;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}

form {
   background-color: #1d1d1e;
   margin: 20px;
   padding: 30px;
}

#header {
    color: black;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/46/78578aed9e69da8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: block;
    height: auto;
}

.characters {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.products {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.form-group {
    padding-bottom: 10px;
    padding-top: 10px;
}

#dropdown.box {
    margin-bottom: 20px;
}

p.dropdown-q {
    margin-bottom: 5px;
}


h1 {
    font-size: 40px;
    font-weight: 900;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

p {
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

#description {
  margin-left: 15px;
  width: 70vw;
}

label {
    display: block;
    padding: 5px;
}

#name-label {
    display: inline-block;
}

#email-label {
    display: inline-block;
}

#number-label {
    display: inline-block;
}

iframe {
    display: block;
}

input:valid {
    border: 2px solid black;
}

input:invalid {
    border: 2px solid red;
}

.box{
    width: 200px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#footer {
    height: 175px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/46/78578aed9e69da8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 450px) {
  form {
    width: 75vw;
  }
    textarea {
        width: 65vw;
    }
}