body {
    background: #1d1d1e;
    color: aliceblue;
}

label {
    display: block;
}

iframe {
    display: block;
}

input:valid {
    border: 2px solid black;
}

input:invalid {
    border: 2px solid red;
}