
body {
    background: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-row-gap: 5px;
    margin: 0px;
    font-family: sans-serif;
}

form {
   background-color: #1d1d1e;
    margin: 20px;
    padding: 30px;
}

#header {
    color: black;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/46/78578aed9e69da8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 20px;
}

.characters {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.products {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}

p {
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
}

label {
    display: block;
    padding: 5px;
}

iframe {
    display: block;
}

input:valid {
    border: 2px solid black;
}

input:invalid {
    border: 2px solid red;
}

.box{
    width: 200px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#footer {
    height: 175px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/46/78578aed9e69da8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
